@use '../utilities/' as var;

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
    justify-items: center;
    margin-left: 30px;
    margin-right: 30px;
}


